<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Administração</title>
    <link rel="stylesheet" href="styleAdmin.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Painel de Administração</h1>
            <a href="home.html" class="btn-back">Voltar à Página Inicial</a>
            <main class="main">
                <section class="section">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Gestão de Eventos</h3>
                            <div class="btn-container">
                                <button class="btn1" onclick="window.location.href='aprovarEvento.html'">Moderar Eventos</button>
                                <button class="btn3" onclick="window.location.href='finishEvent.html'">Finalizar Eventos</button>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </div>
        
    </header>

    
</body>
</html>
